.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  font-size: calc(20px + 2vmin);
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-family: consolas;
}

.chat-window {
  width: 300px;
  height: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto; /* Permite a rolagem vertical */
  background: white;
  color: black;
  font-size: calc(4px + 1vmin);
}

.message.user {
  background-color: #8afcb8;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #e5e5ea;
  color: black;
  align-self: flex-start;
}

.typing-indicator {
  color: gray; /* Exemplo de cor */
  font-style: italic;
  padding: 5px;
  /* Adicione mais estilos conforme necessário */
}

input {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.btn-custom {
  margin: 10px;
  height: 40px; /* Exemplo de altura */
}